<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        body,html{
            margin: 0;
        }

        div{
            font-size: 5em;
            font-weight: bold;
            color:rgb(42, 202, 96);
            text-align: center;
            background-color: rgb(6, 8, 1);
            height: 100vh;
            text-shadow: 4px 4px 4px rgb(211, 209, 209);
            line-height: 8em;
        }
        span{
            color: rgb(245, 241, 10);
        }
    </style>
</head>
<body>
    <div>Mask <span>Kaha</span> h?</div>
</body>
</html>